*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
pom.xml
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/spring-core/kotlin-coroutines/build
/framework-bom/build
/integration-tests/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
.editorconfig
.github/ISSUE_TEMPLATE.md
.github/workflows/gradle-wrapper-validation.yml
.mailmap
buildSrc/src/main/java/org/springframework/build/api/ApiDiffPlugin.java
buildSrc/src/main/java/org/springframework/build/compile/CompilerConventionsPlugin.java
buildSrc/src/main/java/org/springframework/build/optional/OptionalDependenciesPlugin.java
CODE_OF_CONDUCT.adoc
src/docs/*
src/eclipse/*
src/idea/spring-framework.xml
